# Local env files
.env
.env.*

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
