fastapi
python-multipart
pydantic
uvicorn
duckdb
pyarrow
PyYAML
fsspec
gcsfs
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub
PyJWT
pillow
pymupdf
python-docx
python-pptx
pandas
openpyxl
xlrd
numpy
openai-whisper
sentence-transformers
soundfile
torch
torchaudio
transformers
